.chatbot-chat {
  display: flex;
  align-items: flex-start;
  margin: 20px 0px;
  margin-bottom: 20px;

}

.user-message {
  justify-content: flex-end;  
  flex-direction: row-reverse;  
}

.user-profile {
  margin-right: 40px;  
  width: 8px;
  margin-top: 10px;
}

.user-bubble {

  padding: 10px 15px;
  max-width: 70%;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.user-bubble::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #34495e;
  margin-left: 100%;
}

.bot-message {
  justify-content: flex-start; 
}

.bot-bubble {
  padding: 10px 15px;
    max-width: 70%;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.bot-bubble ::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f2f2f2;
}
.timestamps {
  font-size: smaller;
  color: #888;
  position: absolute;
  top: 60px;
  right: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.faculty-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 12%;
  background-color: #FFFFFF;
  border-color: #d3d4d6;
  border-radius: 7px;
  align-items: center;

}

.faculty-option {
  background-color: #34495e;
  color: white;
  border: none;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  width: 100%;
  text-transform: capitalize;
}

.faculty-option:hover {
  background-color: #2c3e50;
}

.show-more-option {
  background-color: #f1f0f0; 
  color: #34495e; 
  border: 1px solid #d3d4d6; 
  padding: 10px 20px;  
  font-size: 14px;
  cursor: pointer;  
  border-radius: 5px;  
  text-align: center;
  width: 100%; 
  transition: background-color 0.3s ease;  
  margin-top: 10px; 
}

.show-more-option:hover {
  background-color: #e0e0e0;  
}
