.login-page-container img {
    display: block;
    margin: 0 auto;
  }
   
  .getEmail-container {
    display: flex;
    align-items: center;
    width: 115%;
  }
  
  .getEmail-container img {
    margin-left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .text-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(117, 109, 109);
    border: none;
    border-radius: 15px;
    width: 60%;
    height: 44px;
    cursor: pointer;
    margin-top: 10px;
    font:bold;
  }
  
  .login-button:hover {
    background-color: #f8efef;
  }
  
  

  